/* General Styling */
* {
  max-width: 100vw; 
}

body {
  overflow-x: hidden; /* Garante que o body também não tenha rolagem horizontal */
}

.container {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}

#about {
  margin: 0 auto;
  width: 90%;
  padding: 20px 50px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
 
#header h2.text-big {
  text-align: center;
  font-size: 70px;
  color: #09203a;
  margin-bottom: 20px;
  font-weight: 600;
}

.intro p {
  text-align: center;
  margin: 20px 0;
  font-size: 1.3rem;
  color: #555;
  line-height: 1.6;
}

/* Add space for image between paragraphs */
p + img {
  display: block;
  margin: 30px auto;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Address, Email, Contact Info */
.contact-info {
  text-align: center;
  margin-top: 40px;
  font-size: 1.2rem;
  color: #555;
}

.contact-info span {
  display: block;
  margin-bottom: 10px;
}

/* Attractive Button Styling */
.cta-button {
  display: inline-block;
  padding: 15px 40px;
  background-color: #ff6b6b;
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 30px;
  font-size: 1.1rem;
  font-weight: bold;
  box-shadow: 0 4px 15px rgba(255, 107, 107, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
}

.cta-button:hover {
  background-color: #e65e5e;
  transform: scale(1.05);
}

/* IMAGES */
.slider {
  display: flex;
  justify-content: center;
  align-items: center;   
  overflow: hidden;
}

.slider img {
  display: none;
  width: 40%;
  height: auto; /* Mantém a proporção da imagem */
  margin: 0 auto;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 
              0 4px 6px rgba(0, 0, 0, 0.1);
}

.slider img.active {
  display: block;
}

/* HR */
hr {
  border: none;
  height: 3px;
  background: linear-gradient(to right, #08003a, #4000ef);
  width: 80%;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 135px;
  margin-bottom: 40px;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .slider img {
    width: 70%;
    
  }
  .container {
    width: 95%; /* Aumenta o uso da tela em dispositivos menores */
  }

  #about {
    padding: 10px 20px; /* Reduz o padding em telas menores */
  }

  /* Ajusta a altura da imagem para dispositivos menores */
  .slider img {
    width: 100%; /* Ajusta a largura da imagem para ocupar 100% da tela */
  }

  /* HR */
  hr {
    margin-top: 105px;
  }

  #header h2.text-big {
    font-size: 2rem; /* Ajusta o tamanho do título em telas menores */
  }

  p {
    font-size: 1.1rem;
  }

  .cta-button {
    font-size: 1rem;
    padding: 12px 30px;
  }
}

/* BUTTONS */

/* ---------SmartPhone-------- */

/* Hide the button by default */
#scroll-to-services {
  display: none;
}

/* Show the button only on smartphones (up to 1024px wide) */
@media (max-width: 1024px) {
  #scroll-to-services {
    display: block;
    width: 90%;
    margin: 20px auto; /* Ajusta o botão para caber bem na tela */
    margin-bottom: 0;
  }
}

/* INSTAGRAM */
.blockquote-container {
  display: flex;
  justify-content: center;
  padding: 20px; /* Ajuste de espaçamento */
}

.instagram-media {
  max-width: 100%;
  width: 100%;
}


/* h2 controll */
h2 {
  max-width: 100%; /* Garante que o h2 não exceda a largura da tela */
  overflow: hidden; /* Remove a rolagem */
  text-overflow: ellipsis; /* Adiciona reticências se o texto for muito longo */
  white-space: nowrap; /* Impede a quebra de linha automática */
}

@media (max-width: 768px) {
  h2 {
    white-space: normal; /* Permite quebra de linha em telas pequenas para evitar rolagem horizontal */
    word-wrap: break-word; /* Garante que palavras longas sejam quebradas se necessário */
  }
}
